<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About SPPU Pointer Estimator and Marks and percentage calculator">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>About</title>
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SPPU Pointer Estimator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home">Estimate Marks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="homecalc">Predict Pointer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactdeveloper">Contact Developer</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-------------------------------------------------------------------------------------------------->

    <!------------------------------------------------------------------------------->
    <div class="container">
        <div class="card my-3" style="line-height: 130%;">
            <div class="card-header text-center bg-secondary text-white">
                <h5>About SPPU Pointer Estimator</h5>
            </div>
            <div class="card-body">
                <h6 class="card-title "><strong>'SPPU Pointer Estimator'</strong> is an reliable and
                    effective tool
                    developed for students
                    studying Engineering at Savitribai Phule Pune University (SPPU). It can effectively
                    help students to predict their pointer and accordingly plan their studies.
                </h6>


                <p class="card-text">
                <div class="d-flex justify-content-center ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item text-center text-primary">
                            <h5>How Does it Work</h5>
                        </li>
                        <li class="list-group-item text-justify">In the first application the student can estimate
                            minimum marks
                            required in each subject
                            to score his targeted pointer.The student can set his target pointer that he wishes to score
                            by selecting his current Course Pattern, Branch and Semester. Next he is given an option to
                            select difficuilty
                            level for each subject, ranging in 3 steps easy, moderate, hard. The difficuilty level
                            should be choosen relatively for
                            each subject, based on personal inception towards a subject. According to the target pointer
                            set and relative
                            difficuilty preferences the algorithm gives you Minimum Marks required in each subject to
                            achieve your target
                            pointer. Hence here you need to relatively score more in subjects choosen as Hard and vice
                            versa and finally
                            your Target pointer remains intact and is optimally achieved.
                        </li>
                        <li class="list-group-item text-justify">In the second application you can enter your estimated
                            marks one by
                            one for each subject and
                            predict corresponding pointer for your estimated marks. You have to simply enter marks which
                            you think you can score
                            in each subject and according to SPPU credit system your pointer and percentage
                            corresponding
                            to your pointer is calculated.
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center text-primary">
                            <h5>How is it Useful</h5>
                        </li>
                        <li class="list-group-item text-justify">Everybody have their own target for Pointer. For some
                            it may be in
                            the range of 9, for some in range of 8 or in range of 7. Here we calculate the Minimum marks
                            which are
                            required in each subject in order to achieve your Target Pointer. Additionally here we also
                            factor for relative
                            Difficuilty Preferences choosed by you for each subject.

                        </li>
                        <li class="list-group-item text-justify">Because of this you can manage your academics
                            effectively by
                            analyzing
                            your need (Target Pointer) and accordingly plan your studies. And focus more on practical
                            aspects of
                            Engineering and Entrepreneurship to pursue your dreams.
                        </li>
                    </ul>
                </div>
                </p>
            </div>
        </div>
        <!-------------------------------------------------------------------------------------------------------->

        <div class="card text-center my-2">
            <div class="card-header bg-secondary text-white">
                <h5>About Developer</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Ganesh B Patil</h5>
                <div class="card-text">BE Mechanical</div>
                <div class="card-text">Maharashtra Institute of Technology, Pune</div>

                <a href="mailto:ganeshp2103@gmail.com?subject=FROM_SPPU_POINTER_ESTIMATOR_Subject:"
                    class="btn btn-danger btn-sm my-2">Email</a>
                <a href="https://www.linkedin.com/in/ganesh-patil-89648a17a"
                    class="btn btn-primary btn-sm my-2 ">Linkedin</a>
            </div>
        </div>

    </div>
    <!--------------------------------- Back ------------------------------------------>
    <div class="d-flex justify-content-center my-3">
        <a href="javascript:history.go(-1)" class="btn btn-outline-primary"><strong>Back</strong></a>
    </div>
    <!----------------------------------------------------------------------------------->

    <footer class="container py-3 col-12 bg-dark text-white">
        <div class="row">
            <div class="col-md ">
                <div class="d-flex justify-content-center mb-0">
                    Developer
                </div>
                <div class="d-flex justify-content-center mb-0">
                    <h5>Ganesh B Patil</h5>
                </div>
            </div>


            <div class="col-md my-2">
                <div class="d-flex justify-content-center text-center my-0" style="line-height: 100%;">Suggestions for
                    improvement or subject modification are welcomed </div>
                <div class="d-flex justify-content-center text-center my-0">Drop a Mail at</div>
                <a href="mailto:sppupointerestimator@gmail.com"
                    class="d-flex justify-content-center my-0">sppupointerestimator@gmail.com</a>
            </div>

        </div>
    </footer>

    <!--------------------------------------------------------------------------------------------------->




</body>

</html>