<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calculate pointer for Savitribai Phule Pune University SPPU. Predict your pointer cgpa sgpa form the marks for engineering FE SE TE BE 2015 course and 2019 course for Pune University. Get marks required to score score your pointer.  ">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SPPU Pointer Estimator</title>
</head>

<body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!--------------------------------------------------------------------------------------->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white">SPPU Pointer Estimator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home">Estimate Marks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="homecalc">Predict Pointer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactdeveloper">Contact Developer</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--------------------------------------------------------------------------------------->
    <div class="container">

        <div class="row my-2">
            <div class="col-sm-6">
                <div class="card my-2 text-center">
                    <div class="card-header bg-secondary text-white">
                        <h4> 1. Estimate Marks </h4>
                    </div>
                    <div class="card-body alert-secondary">
                        <h5 class="card-title">Estimate Minimum Marks required in each subject for your Target Pointer -
                            Depending upon your Relative Difficuilty Preferences for each Subject </h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-light">Select your Target Pointer</li>
                            <li class="list-group-item list-group-item-light">Select how Easy or Difficuilt you find
                                each Subject</li>
                            <li class="list-group-item list-group-item-light">Get Minimum Marks required in each
                                Subject, depending upon
                                Target Pointer and Subject Difficuilty Preference</li>
                        </ul>
                        </p>
                        <a href="home" class="btn btn-primary"><strong>Go</strong></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-center">
                <div class="card my-2 text-center ">
                    <div class="card-header bg-secondary text-white">
                        <h4> 2. Predict Pointer</h4>
                    </div>
                    <div class="card-body alert-secondary">
                        <h5 class="card-title">Calculate Pointer for your estimated Marks in each Subject</h5>
                        <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-light">Enter your estimated marks in Insem &
                                Endsem for each Subject </li>
                            <li class="list-group-item list-group-item-light">Get corresponding Pointer for your entered
                                Marks </li>
                        </ul>
                        </p>
                        <a href="homecalc" class="btn btn-primary"><strong>Go</strong> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------ Share ------------------------------------------->
    <div class="d-flex justify-content-center my-3">
        <div class="d-inline-flex p-2 bd-highlight " style="border: 3px solid greenyellow; border-radius:20px;">
            <div class="align-self-center p-2 flex-fill text-primary "><strong>Share with Friends</strong></div>
            <div>
                <a href="whatsapp://send?text=Check out this Amazing Website which helps to estimate minimum marks required to achieve your Target Pointer for Savitribai Phule Pune University (SPPU).   https://sppupointerestimator.anywherepython.com"
                    class="btn btn-success btn-sm my-1 ">
                    Whattsapp</a>
                <a href="http://www.facebook.com/share.php?u=https://sppupointerestimator.anywherepython.com" target="_blank"
                    class="btn btn-primary btn-sm my-1 ">Facebook</a>
            </div>
        </div>
    </div>
    <!------------------------------ How is it Useful --------------------------------->
    <div class="alert alert-warning my-0" role="alert">
        <h4 class="alert-heading">How is it Useful</h4>
        <p>Everybody have their own target for Pointer. For someone
            it may be in the range of 9, for some in range of 8 or in range of 7. Here we calculate the Minimum
            marks
            which will be required in each subject in order to achieve your Target Pointer. Additionally we also
            factor in for Relative Difficuilty Preferences choosed by you for each subject.
        </p>
        <hr>
        <p class="mb-0">Accordingly you can manage your academics
            effectively by analyzing your need (Target Pointer) and accordingly plan your studies. And thus focus
            more on practical
            aspects of Engineering and Entrepreneurship to pursue your dreams.</p>
    </div>



    <!----------------------------------------------------------------------------------->

    <footer class="container py-3 col-12 bg-dark text-white">
        <div class="row">
            <div class="col-md">
                <div class="d-flex justify-content-center mb-0">
                    Developer
                </div>
                <div class="d-flex justify-content-center mb-0">
                    <h5>Ganesh B Patil</h5>
                </div>
            </div>


            <div class="col-md my-2">
                <div class="d-flex justify-content-center text-center my-0" style="line-height: 100%;">Suggestions for
                    improvement or subject modification are welcomed </div>
                <div class="d-flex justify-content-center text-center my-0">Drop a Mail at</div>
                <a href="mailto:sppupointerestimator@gmail.com"
                    class="d-flex justify-content-center my-0">sppupointerestimator@gmail.com</a>
            </div>

        </div>
    </footer>

    <!--------------------------------------------------------------------------------------------------->

</body>

</html>